<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.inputstick.apps.inputstickutility"/>
        <package android:name="com.inputstick.apps.smsproxy"/>
        <package android:name="keepass2android.plugin.inputstick"/>
        <package android:name="keepass2android.keepass2android"/>
        <package android:name="keepass2android.keepass2android_nonet"/>
        <package android:name="com.google.android.apps.authenticator2"/>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".AccessReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_TRIGGER_REQUEST_ACCESS" />
                <action android:name="keepass2android.ACTION_RECEIVE_ACCESS" />
                <action android:name="keepass2android.ACTION_REVOKE_ACCESS" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ActionReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="keepass2android.ACTION_OPEN_ENTRY" />
                <action android:name="keepass2android.ACTION_ENTRY_OUTPUT_MODIFIED" />
                <action android:name="keepass2android.ACTION_ENTRY_ACTION_SELECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UpdateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".InputStickService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClipboardActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_clipboard"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MaskedPasswordActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_masked_password"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MacSetupActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_mac_setup"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MacroActivity"
            android:label="@string/title_activity_macro"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name=".AllActionsActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_all_actions"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".MacroExecuteActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_macro_execute"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SetupWizardActivity"
            android:label="@string/title_activity_setup_wizard"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about" />
        <activity
            android:name=".SelectTemplateActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_select_template"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".SelectAppActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_select_app"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".remote.RemoteActivity"
            android:imeOptions="flagNoExtractUi" />
        <activity
            android:name=".SMSActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_sms"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".PermissionsActivity"
            android:label="@string/title_activity_permissions"
            android:theme="@style/Theme.AppCompat.DayNight" />
    </application>

</manifest>